@import '../../styles/mixins';

.contacts{
    display: grid;
    grid-template-rows: 10% 10% 65% 15%;
    overflow: hidden; // bỏ thuộc tính này sẽ thấy điều kì diệu và công dụng của nó
    
    &-title{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 40px;
            height: 40px;
        }
    }

    &-search{
        background: gray;
        border-radius: 1rem;
        display: flex;
        margin: 10px;

        input{
            cursor: pointer;
        }
    }

    &-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto; 
        gap: 0.8rem;
        padding: 10px;
        &::-webkit-scrollbar {
          width: 0.2rem;
          &-thumb {
            background-color: #ffffff39;
            width: 0.1rem;
            border-radius: 1rem;
          }
        }

        &__empty{
            margin: auto;
            color: #aeaeae
        }

        &__item{
            width: 100%;
            .item-detail-wrap{
                @include CardContact();
                .item-detailAvatar{
                    display: flex;
                    padding: 10px;
                }

                .item-detailInfo{
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 90px);
                    &__name{
                        font-size: 18px;
                        font-weight: bold;
                        text-transform: capitalize;
                    }

                    &__msg{
                        white-space: nowrap; /* Ngăn chặn việc ngắt dòng */
                        overflow: hidden; /* Ẩn phần nội dung vượt quá */
                        text-overflow: ellipsis;
                        color : #B0B3B8;
                    }
                }
            }
        }

        .isSelected {
            background-color: #664cda;
        }
    }

    &-personal{
        @include CardContact;
        cursor: default;
        width: 100%;
        background-color: transparent;
        justify-content: center;

        h3{
            margin: 0;
        }

        &__info{
            margin-left: 5px;
            display: flex;
            flex-direction: column;
            
            &--logout{
                cursor: pointer;
                display: flex;
                align-items: center;

                svg{
                    margin-right: 5px;
                }
            }
        }

        
    }
}