@import '../../styles/mixins';
@import '../../styles/variables';

.chat-page{
    @include Container();

    &__container{
        height: 90vh;
        width: 90vw;
        background-color: $color-form;
        display: grid;
        grid-template-columns: 30% 70%;
        
        @media screen and (min-width: 720px) and (max-width: 1080px) {
            grid-template-columns: 35% 65%;
        }
    }
}