@import '../../styles/mixins';
@import '../../styles/variables';

.chat{
    display: grid;
    grid-template-rows: 10% 80% 10%;
    padding:15px 20px 15px 0;
    overflow: hidden;
    &-header{
        @include CardContact();
        gap: 10px;
        background-color: transparent;
        width: 100%;
        img{
            width: 50px;
            height: 50px;
        }

        &__infor{
            display: flex;
            flex-direction: column;

            .infor-name{
                font-size: 18px;
                color: #ffff;
                font-weight: bold;
            }

            .infor-status{
                font-size: 14px;
                font-weight: 300;
            }
            
        }
    }

    &-body{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0.2rem;
            &-thumb {
              background-color: #ffffff39;
              width: 0.1rem;
              border-radius: 1rem;
            }
        }
        
        &__date{
            text-align: center;
            margin-bottom: 8px;
        }

        &__empty{
            width: 100%;
            text-align: center;
            font-size: 18px;
            margin-top: 30px;
        }

        &__message{
            color: #ffff;
            background-color: transparent;
            display: flex;
            align-items: flex-end;
            width: 100%;
            h3{
                height: 100%;
                border-radius: 1rem;
                padding: 10px;
                max-width: 70%;
                text-align: left;
                word-break: break-word; // Text vượt quá chiều dài container sẽ xuống dòng
                white-space: pre-wrap; // Duy trì khoảng trắng và xuống dòng tự động khi cần thiết.
            }
            button{
                margin : 10px 0;
                svg{
                    color: #c4c4c4;
                    font-size: 18px;
                }
            }

            &.chat-body__message__received{
                justify-content: flex-start;
                h3{
                    background: #4E4F50;
                }
                img{
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                }
                button{
                    order: 3;
                }
            }

            &.chat-body__message__sended{
                justify-content: flex-end;
                h3{
                    background: #77A7FF;
                }
            }

            &.chat-body__message__deleted{
                h3{
                    font-style: italic;
                    background: transparent;
                    border: 1px solid;
                }
            }
        }
    }

    &-footer{

        &-inner{
            padding-top: 20px;
            display: flex;
            align-items: end;
            &__emoji{
                padding: 0 10px;
                display: flex;
                svg {
                    font-size: 1.5rem;
                    color: #ffff00c8;
                    cursor: pointer;
                }
    
                .EmojiPickerReact {
                    position: absolute !important;
                    top: 150px;
                    background-color: #080420;
                    box-shadow: 0 5px 10px $color-select-contact;
                    border-color: $color-select-contact !important;
    
                    .emoji-scroll-wrapper::-webkit-scrollbar {
                      background-color: #080420;
                      width: 5px;
                      &-thumb {
                        background-color: $color-select-contact;
                      }
                    }
                }
            }
    
            &__act{
                flex: 1;
                display: flex;
                textarea{
                    //height: 35px;
                    max-height: 230px;
                    resize: none;
                    overflow-y: hidden;
                    background-color: #ffffff34;
                    width: 93%;
                    border-radius: 1rem;
                    font-size: 18px;
                    padding: 5px 15px;
                    border: none;
                    color: #ffff;
                    white-space: pre-wrap;
    
                    &::selection {
                        background-color: #9a86f3;
                    }
                    &:focus {
                        outline: none;
                    }
                }
    
                .btn-send{
                    display: flex;
                    align-items: end;
    
                    button{
                        height: 33px;
                        margin-left: 10px;
                        width: 3.5rem;
                        display: flex;
                        border: none;
                        border-radius: 50px;
                        background: $color-select-contact;
                        cursor: pointer;
                        
                        svg{
                            font-size: 22px;
                            margin: auto;
                            color: #ffff;
                        }
        
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                }
    
            }
        }
    }
}